{% extends "BaikalFrontendBundle:Layouts:standard.html.twig" %}

{% block content %}
    
    {% set new = not (calendar is defined and calendar.id) %}
    
    {% embed "BaikalViewComponentsBundle:Components:pageheader.html.twig" %}
        {% set icon = "calendar" %}
        {% block header %}
            <a href="{{ path('baikal_frontend_calendar_list') }}">Calendars</a>
            
            <i class="fa fa-angle-right"></i>

            {% if new %}
                New
            {% else %}
                {% include "BaikalViewComponentsBundle:Components:calendarpill.html.twig" with { calendar: calendar } %} {{ calendar.displayName() }}

                <i class="fa fa-angle-right"></i>

                Edit
            {% endif %}

        {% endblock %}
    {% endembed %}

    {% embed "BaikalViewComponentsBundle:Components:Calendar/form.html.twig" with {
        new: new,
        url_cancel: path('baikal_frontend_calendar_list')
    } %}{% endembed %}

{% endblock %}