{% extends "BaikalFrontendBundle:Layouts:standard.html.twig" %}

{% set pagetitle = "Calendar " ~ calendar.getDisplayname() %}

{% block content %}

{% embed "BaikalViewComponentsBundle:Components:pageheader.html.twig" %}
    {% block header %}

        <i class="fa fa-calendar"></i> <a href="{{ path('baikal_frontend_calendar_list') }}">Calendars</a>

        <i class="fa fa-angle-right"></i>

        {% include "BaikalViewComponentsBundle:Components:calendarpill.html.twig" with { calendar: calendar } %} {{ calendar.getDisplayname() }}

        <i class="fa fa-angle-right"></i>

        <i class="fa fa-plug"></i> Connect

    {% endblock %}
{% endembed %}

{% embed "BaikalViewComponentsBundle:Components:Calendar/instructions.html.twig" with {
    user: user,
    calendar: calendar
} %}{% endembed %}

{% endblock %}