{% extends "BaikalFrontendBundle:Layouts:fullscreen.html.twig" %}

{% set pagetitle = "Calendar " ~ calendar.getDisplayname() %}

{% block bodyclass %}calendar-fullscreen{% endblock %}

{% set calview = application('pulpy', {
    rootElement: '#app-calclient',
    parameters: {
        apiendpoint: '/webapi/v1',
        calendarsEnabledAtStart: [calendar.getId()],
        calendarFocusedAtStart: calendar.getId(),
        starttime: 0,
        endtime: 23,
        businessstarttime: 7,
        businessendtime: 20,
        hourbarwidth: 30,
        hourheight: 60,
        allowMovingToAdjacentWeeks: true,
        windowed: true,
        cosmetic: {
            gutterwidth: 16,
            event: {
                marginLeft: 2,
                marginTop: 2,
                marginBottom: 3
            },
            popup: {
                width: 300,
                height: 200
            }
        }
    }
}) %}

{% block content %}
    <div id="app-calclient"></div>
    {{ calview.html|raw }}
{% endblock %}

{% block scripts %}
    {{ calview.assets|raw }}
{% endblock %}