{% extends 'admin/layout.html' %}
{% block content %}
    <header class="jumbotron subhead" id="overview">
        <h1><i class="glyph2x-adjust"></i>Baïkal settings</h1>
            </header>


            <form class="form-horizontal" action="{{ path("admin_settings_post") }}" method="post">

        <fieldset>
            <legend style="line-height: 40px;"><i class="glyph-cogwheel"></i><strong>Baïkal Settings</strong></legend>

            {% if not is_writable %}
            <div class="alert alert-danger">Updating settings is disabled, because Baïkal is not able to modify <code>config/config.php</code>. Please fix the file permissions.</div>
            {% endif %}


			<div class="control-group">
				<label class="control-label" for="caldav-enabled">Enable CalDAV</label>
				<div class="controls">
					<input class="input-xlarge" id="caldav-enabled" name="config[caldav][enabled]" value="1" {% if config.caldav.enabled %} checked="checked" {% endif %} type="checkbox">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="carddav-enabled">Enable CardDAV</label>
				<div class="controls">
					<input class="input-xlarge" id="carddav-enabled" name="config[carddav][enabled]" value="1" {% if config.carddav.enabled %} checked="checked" {% endif %} type="checkbox">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="auth-type">WebDAV authentication type</label>
				<div class="controls">
					<select class="" id="auth-type" name="config[auth][type]">
                        <option value="Basic" {% if config.auth.type == "Basic" %}selected="selected"{% endif %}>Basic</option>
                        <option value="Digest" {% if config.auth.type == "Digest" %}selected="selected"{% endif %}>Digest</option>

					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="debug-mode">Debug mode</label>
				<div class="controls">
					<input class="input-xlarge" id="debug-mode" name="config[debug]" value="1" {% if config.debug %} checked="checked" {% endif %} type="checkbox">
				</div>
			</div>
			<div class="form-actions">
                <button type="submit" class="btn btn-primary" {% if not is_writable %}disabled="disabled"{% endif %}>Save changes</button>
    	    </div>
        </fieldset>
    </form>
{% endblock %}
