{% autoescape false %}
<header class="jumbotron subhead" id="overview">
	<h1><i class="fa fa-lock me-3"></i>Authentication</h1>
	<p class="lead">Please authenticate to access Baïkal Web Admin.</p>
</header>

{{ message }}

<form action="{{ actionurl }}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="{{ submittedflagname }}" value="1" />
	<fieldset>
		<div class="mb-3">
			<label class="form-label" for="login">Login</label>
			<input type="text" class="form-control" id="login" name="login" value="{{ login }}">
		</div>

		<div class="mb-3">
			<label class="form-label" for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" value="{{ password }}">
		</div>

		<button type="submit" class="btn btn-primary">Authenticate</button>
	</fieldset>
</form>
{% endautoescape %}
