<style type="text/css">
	.col-id { width: 2%;}
	.col-username { width: 65%;}
	.no-border-left { border-left: none !important;}
</style>

<header class="jumbotron subhead" id="overview">
	<h1>Users</h1>
	<p class="lead pull-left">Browse, create, update and delete Baïkal user accounts.</p>
	<p class="pull-right"><a class="btn" href="<?= \BaikalAdmin\Controller\Users::linkNew() ?>"><i class="<?= \Baikal\Model\User::getIcon() ?>"></i> + Add user</a></p>
</header>

<table class="table table-bordered table-striped">
	<!--tr>
		<th class="col-id">#ID</th>
		<th class="col-user"></th>
		<th class="col-actions no-border-left"></th>
	</tr-->
<? foreach($users as $user) {
	$linkdetails = \BaikalAdmin\Controller\Users::linkDetails($user);
	$linkedit = \BaikalAdmin\Controller\Users::linkEdit($user);
	$linkdelete = \BaikalAdmin\Controller\Users::linkDelete($user);
	$mailtouri = $user->getMailtoURI();
?>
	<tr>
		<!--td class="col-id"><?= $user->get("id"); ?></td-->
		<td class="col-username">
			<i class="icon-user"></i> <strong><?= $user->get("username"); ?></strong><br />
			<?= $user->get("displayname"); ?> <a href="<?= $mailtouri ?>">&lt;<?= $user->get("email"); ?>&gt;</a>
		</td>
		<td class="col-actions no-border-left">
			<p class="pull-right">
				<nobr><a class="btn" href="<?= $linkdetails ?>"><i class="icon-calendar"></i> + <i class="icon-book"></i></a></nobr>
				<nobr><a class="btn btn-primary" href="<?= $linkedit ?>"><i class="icon-edit icon-white"></i>  Edit</a></nobr>
				<nobr><a class="btn btn-danger" href="<?= $linkdelete ?>"><i class="icon-remove icon-white"></i> Delete</a></nobr>
			</p>
		</td>
	</tr>
<? } ?>
</table>