{% spaceless %}
    {% if header is not defined %}
        {% set header = "Please sign in" %}
    {% endif %}
{% endspaceless %}
<div class="container">
    <div class="row">

        <div class="col-sm-offset-3 col-sm-6 login">

            {% if error %}
                <div class="col-md-offset-2 alert alert-danger alert-dismissable">
                    <i class="fa fa-warning"></i> {{ error.message }}
                </div>
            {% endif %}

            <form class="form-horizontal" action="{{ logincheckurl }}" method="post">
                
                <div class="form-group">
                    <label class="col-md-4 control-label" for="_username">Username</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="username" name="_username" placeholder="Username" value="{{ last_username }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="_password">Password</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </div>

                {% if redirecturl is defined %}
                <input type="hidden" name="_target_path" value="{{ redirecturl }}" />
                {% endif %}
            </form>
        </div>
        <div class="col-sm-6"></div>
    </div>
</div>