/web/bundles/
/web/vendor/
/web/css/
/web/js/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/data/*
!data/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

/web/apps/*
!/web/apps/cardclient

/node_modules
/bower_components
/npm-debug.log
