{% extends 'admin/layout.html' %}
{% block content %}
    <header class="jumbotron subhead" id="overview">
        <h1><i class="glyph2x-calendar"></i>Calendars</h1>
        <p class="lead pull-left">Manage Calendars for<i class="glyph-user"></i><strong>{{ username }}</strong>.</p>
        <p class="lead pull-right"><a class="btn btn-inverse" href="#"><i class="icon-white icon-calendar"></i> + Add calendar</a></p>
    </header>

    <table class="table table-bordered table-striped calendars">
        <thead>
        <tr>
            <th>Display name</th>
            <th>Description</th>
            <th class="no-border-left"></th>
        </tr>
        </thead>
        <tbody>
        {% for calendar in calendars %}
            <tr>
                <td class="col-displayname"><i class="icon-calendar"></i>{{ attribute(calendar, "\{DAV:\}displayname")|escape }}</td>
                <td class="col-description">{{ attribute(calendar, "\{urn:ietf:params:xml:ns:caldav\}calendar-description")|escape }}</td>
                <td class="col-actions no-border-left">
                    <p class="pull-right">
                        <nobr><a class="btn btn-primary" href="#"><i class="icon-edit icon-white"></i> Edit</a></nobr>
                        <nobr><a class="btn btn-danger" href="#"><i class="icon-remove icon-white"></i> Delete</a></nobr>
                    </p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="lead pull-left"><a href="{{ path('admin_user_index') }}" class="btn"><i class="icon-chevron-left"></i> Back to users list</a></p>

    <a id='form'></a>
{% endblock %}
