{% extends 'Admin/layout.html.twig' %}
{% block content %}

    <form class="form-horizontal" action="{{ path('admin_user_create_post') }}" method="post" enctype="multipart/formdata">
        <input type="hidden" name="refreshed" value="0" />
        <fieldset>
            <legend style="line-height: 40px;">Creating new<i class=glyph-user></i><strong>User</strong></legend>

            <div class="control-group">
                <label class="control-label" for="userName">Username</label>
                <div class="controls">
                    <input type="text" class="input-xlarge popover-focus " id="userName" name="data[userName]" value="" title="Username" data-content="The login for this user account.&lt;br /&gt;It has to be unique." />
                    <p class="help-block">May be an email, but not forcibly.</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="displayName">Display name</label>
                <div class="controls">
                    <input type="text" class="input-xlarge popover-focus " id="displayName" name="data[displayName]" value="" title="Display name"  data-content="This is the name that will be displayed in your CalDAV/CardDAV clients." />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="email" name="data[email]" value=""/>

                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="password" name="data[password]" value=""/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="passwordconfirm">Confirm password</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="passwordconfirm" name="data[passwordconfirm]" value=""/>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
