{% spaceless %}

    {# Defining global variables #}

    {% if pagetitle is not defined %}
        {% set pagetitle = 'Baïkal' %}
    {% endif %}

    {% if 'Baïkal' not in pagetitle %}
        {% set pagetitle = pagetitle ~ ' | Baïkal' %}
    {% endif %}

{% endspaceless %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ pagetitle }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
        <meta name="generator" content="Symfony 2" />

        <link href='//fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bundled.min.css') }}" />
    </head>
    <body class="layout-fullscreen {% block bodyclass "" %}">
        {% block body %}
        
        {% endblock %}

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="{{ asset('assets/js/bundled.min.js') }}"></script>
        {% block scripts %}{% endblock %}
        <script type="text/javascript">
        {% block js %}{% endblock %}
        </script>
    </body>
</html>