<h2 style="margin-top: 0; font-weight: normal;">{{event.label}}</h2>

<p><strong>{{fromToLabel}}</strong></p>

{{!--
{{#if event.payload.recurrence_freq}}
    <p>Recurrence: {{event.payload.recurrence_freq}}</p>
{{/if}}
--}}