{% extends "BaikalViewComponentsBundle:Layouts:standard.html.twig" %}

{% block body %}

    {% include 'BaikalFrontendBundle:Layouts:partials/_header.html.twig' %}

    {% block content %}
    <p>Content here</p>
    {% endblock %}

    {% include 'BaikalFrontendBundle:Layouts:partials/_footer.html.twig' %}

{% endblock body %}