<div id="app-calclient"></div>

{% set calview = application('pulpy', {
    rootElement: '#app-calclient',
    parameters: {
        apiendpoint: '//' ~ (app.request.getHttpHost() ~ path('baikal.webapi.root'))|trim('/'),
        calendarsEnabledAtStart: [calendar.getId()],
        calendarFocusedAtStart: calendar    .getId(),
        starttime: 0,
        endtime: 23,
        businessstarttime: 7,
        businessendtime: 20,
        hourbarwidth: 30,
        hourheight: 90,
        allowMovingToAdjacentWeeks: true,
        windowed: true,
        cosmetic: {
            gutterwidth: 16,
            event: {
                marginLeft: 2,
                marginTop: 2,
                marginBottom: 3
            },
            popup: {
                width: 300,
                height: 200
            }
        }
    }
}) %}

{{ calview }}