<div id="app-calclient"></div>

{{
    application('calclient', {
        rootElement: '#app-calclient',
        parameters: {
            apiendpoint: '/webapi/v1',
            calendarsEnabledAtStart: [calendar.getId()],
            calendarFocusedAtStart: calendar.getId(),
            starttime: 0,
            endtime: 23,
            businessstarttime: 7,
            businessendtime: 20,
            hourbarwidth: 30,
            hourheight: 30,
            allowMovingToAdjacentWeeks: true,
            windowed: false,
            cosmetic: {
                gutterwidth: 16,
                event: {
                    marginLeft: 2,
                    marginTop: 2,
                    marginBottom: 3
                },
                popup: {
                    width: 300,
                    height: 170
                }
            }
        }
    })
}}

{% if fullscreen %}
<style type="text/css">
    #calendar-bottombar {
        position: absolute;
        bottom: 1px;    /* compensate for the border */
        z-index: 999999;
        width: 100%;
        height: 32px;
        line-height: 32px;
        background-color: white;
        border-top: 1px solid silver;
        color: black;
    }

    #calendar-bottombar .calendartitle {
        line-height: 1.4em;
        font-size: 1.4em;
    }

</style>
<div id="calendar-bottombar">
    <div class="text-center">
        <span class="calendartitle">{{ calendar.getDisplayname() }}</span>
    </div>
</div>
{% endif %}