system:
    configured_version: '0.7.0'
    timezone: 'Europe/Paris'
    card_enabled: true
    cal_enabled: true
    invite_from: 'noreply@localhost'
    dav_auth_type: 'Digest'
    admin_passwordhash: 5fe794627e1f841f8debba065e2c807a
    failed_access_message: 'user %u authentication failure for Baikal'
    auth_realm: BaikalDAV
    base_uri: ''
    ldap_mode: 'None'
    ldap_uri: 'ldap://127.0.0.1'
    ldap_bind_dn: 'cn=baikal,ou=apps,dc=example,dc=com'
    ldap_bind_password: ''
    ldap_dn: 'mail=%u'
    ldap_cn: 'cn'
    ldap_mail: 'mail'
    ldap_search_base: 'ou=users,dc=example,dc=com'
    ldap_search_attribute: 'uid=%U'
    ldap_search_filter: '(objectClass=*)'
    ldap_group: 'cn=baikal,ou=groups,dc=example,dc=com'
database:
    encryption_key: 5d3f0fa0192e3058ea70f1bb20924add
    backend: 'mysql'
    sqlite_file: "absolute/path/to/Specific/db/db.sqlite"
    mysql_host: 'localhost'
    mysql_dbname: 'baikal'
    mysql_username: 'baikal'
    mysql_password: 'baikal'
    pgsql_host: 'localhost'
    pgsql_dbname: 'baikal'
    pgsql_username: 'baikal'
    pgsql_password: 'baikal'
