.cal-week,
.cal-week * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cal-week input:focus,
.cal-week select:focus,
.cal-week textarea:focus,
.cal-week button:focus {
    outline: none;
}

.cal-week table {
    border-spacing : 0;
    border-collapse : collapse;
}

.cal-week table,
.cal-week tr,
.cal-week td {
    padding: 0;
    margin: 0;
}

.cal-week .cal-week-title {
    font-size: 32px;
}

.cal-week .cal-week-title .monthname {
    font-weight: normal;
}

.cal-week .cal-week-title .year,
.cal-week .cal-week-tite .weeknumber {
    font-weight: lighter;
}

.cal-week .cal-week-title .weeknumber {
    font-size: 16px;
}

.cal-week-day-headers,
.cal-week-surface,
.cal-week-surface > table {
    width: 100%;
}


.cal-week-surface,
.cal-week-surface td {
    /*border: 1px solid silver;*/
}

.cal-week-surface {
    position: relative;
}

.cal-week-hours {
    text-align: right;
}

.cal-week-day-header {
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    height: 35px;
}

.cal-week-day-header.cal-week-is-weekend {
    background-color: inherit;
}

.cal-week-day-header.cal-week-is-today .daynum {
    border-radius: 100%;
    background-color: rgb(245, 52, 57);
    padding: 3px;
    width: 28px;
    display: inline-block;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.cal-week-is-weekend {
    background-color: rgba(0, 0, 0, 0.03);
}

.cal-week-hourmarkers-tr {
    height: 1px;
}

.cal-week-hourmarkers-tr td {
    border: 0px;
}

.cal-week-hourmarkers-wrapper {
    position: relative;
    width: 100%;
}

.cal-week-hourmarkers {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.cal-week-time-header,
.cal-week-nowtime {
    font-size: 10px;
    line-height: 18px;
    color: silver;
    border: 0;
}

.cal-week-time-header:first-child {
    border-top: 0px;
}

.cal-week-time-header .cal-week-time-header-time {
    display: block;
    position: relative;
    top: -10px;
    right: 3px;
}

.active {
    background-color: rgba(255, 0, 0, 0.1);
}


.cal-week-day {
    vertical-align: top;
    border-right: 1px solid silver;
    cursor: crosshair;
}

.cal-week-day .creatingevent {
    background-color: rgba(255, 0, 0, 0.6);
}

.cal-week-day .creatingevent .dates {
    color: white;
    text-align: center;
    font-size: 12px;
}

.cal-week-day:last-child {
    border-right: 0;
}


/* Avoid text selection instead of drag/drop on calendar surface */
.cal-week-surface,
.cal-week-surface *,
.cal-week-surface > table,
.cal-week-surface > table *,
.cal-week-day-headers,
.cal-week-day-headers *,
.cal-week-hourmarkers,
.cal-week-hourmarkers *,
.cal-week-title,
.cal-week-title *,
.noselect,
.noselect * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cal-week-event {
    /*
    background-color: rgba(249, 192, 192, 0.8);
    color: rgb(248, 25, 25);
    border-left: 2px solid rgb(248, 25, 25);
    */
    border-left-width: 2px;
    border-left-style: solid;
    font-size: 12px;
}

    .cal-week-event-inner {
        margin: 2px 5px;
    }

    .cal-week-event-bottom {
        background-color: transparent;
        height: 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
        cursor: row-resize;
    }

.tg-markercell.markercell-business-on {
    border-top: 1px solid rgb(230, 230, 230);
}

.tg-markercell.markercell-business-on .tg-dualmarker {
    border-bottom: 1px dotted rgb(240, 240, 240);
}

.tg-markercell.markercell-business-off {
    border-top: 1px solid rgb(247, 247, 247);
}

.tg-markercell.markercell-business-off .tg-dualmarker {
    border-bottom: 0px;
}

.tg-markercell:first-child .tg-dualmarker {
    border-top: 0px;
}

.tg-markercell.markercell-business-on-last .tg-dualmarker {
    border-bottom: 0px;
}

.cal-week-event {
    overflow: hidden;
    cursor: default;
    z-index: 9;
}

.cal-week-event-displacing,
.cal-week-event-selected,
.cal-week-event-resizing {
    /*background-color: rgba(248, 47, 47, 0.9);
    color: white;*/
}

.cal-week-event-temporary {
    /* black & white event while synchronizing */
    background-color: rgba(192, 192, 192, 0.3);
    color: black;
    border-left: 2px solid darkgray;
}

.cal-week-event-displacing,
.cal-week-event-resizing,
.cal-week-event-selected {
    z-index: 11;    /* rise above other events */
}

.cal-week-event-selected .cal-week-event-title {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.cal-week-event-hovered {
}

.cal-week-event-resizing {
    cursor: row-resize;
}

.cal-week-event-title {
    font-weight: 700;
}

.cal-week-event-time {
    display: block;
}

.cal-week-event-endedafter {
    border-bottom: 2px dotted #FFF;
}

.cal-week-event-startedbefore {
    border-top: 2px dotted #FFF;
}


/* Arrow popup */

.arrow-popup {
    text-align: left;
    position: absolute;
    background-color: white;
    z-index: 13;
    border: 1px solid #BBB;
    border-radius: 6px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.arrow-popup .arrow-popup-content {
    margin: 10px;
    margin-left: 15px;
}

.arrow-popup-anchor {
    height: 1px;
    background-color: transparent;
    position: relative;
}

/* Anchor pointing to the left */

.arrow-popup.arrow-popup-anchor-left {
    border-top-left-radius: 0px;
}

.arrow-popup.arrow-popup-anchor-left.arrow-popup-anchor-offseted {
    border-bottom-left-radius: 0px;
}

.arrow-popup.arrow-popup-anchor-left .arrow-popup-anchor-inner,
.arrow-popup.arrow-popup-anchor-left .arrow-popup-anchor-outer {
    right: 100%;
    top: 6px;
    border: solid transparent;
    content: " ";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-popup.arrow-popup-anchor-left .arrow-popup-anchor-inner {
    border-color: transparent;
    border-right-color: white;
    border-width: 10px;
}

.arrow-popup.arrow-popup-anchor-left .arrow-popup-anchor-outer {
    border-color: transparent;
    border-right-color: rgba(0, 0, 0, 0.1);     /* Semi transparent border to simulate shadow */
    border-width: 16px;
    margin-top: -6px;
}

/* Anchor pointing to the right */

.arrow-popup.arrow-popup-anchor-right {
    border-top-right-radius: 0px;
}

.arrow-popup.arrow-popup-anchor-right.arrow-popup-anchor-offseted {
    border-bottom-right-radius: 0px;
}

.arrow-popup.arrow-popup-anchor-right .arrow-popup-anchor-inner,
.arrow-popup.arrow-popup-anchor-right .arrow-popup-anchor-outer {
    left: 100%;
    top: 6px;
    border: solid transparent;
    content: " ";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-popup.arrow-popup-anchor-right .arrow-popup-anchor-inner {
    border-color: transparent;
    border-left-color: white;
    border-width: 10px;
}

.arrow-popup.arrow-popup-anchor-right .arrow-popup-anchor-outer {
    border-color: transparent;
    border-left-color: rgba(0, 0, 0, 0.1);  /* Semi transparent border to simulate shadow */
    border-width: 16px;
    margin-top: -6px;
}


/* Detail form */

.cal-week-event-detail-form textarea.event-title {
    border: none;
    background-color: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    height: 44px;
    font-weight: bold;

    color: #3E3E3E;
}

.cal-week-event-detail-form .event-timespan {
    color: #3E3E3E;
    font-size: 12px;
}

.cal-week-event-detail-form .btn-edit {
    float: left;
}

.cal-week-event-detail-form .btn-save,
.cal-week-event-detail-form .btn-delete {
    float: right;
}

/* Now line */

.cal-week-nowline {
    position: absolute;
    height: 1px;
    line-height: 1px;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 7;
}

.cal-week-nowpoint {
    position: absolute;
    left: 100px;
    display: block;
    height: 5px;
    transform: translateX(-3px) translateY(-2px);
    border-radius: 3px;
    border: 1px solid #3E3E3E;
    background-color: white;
}

.cal-week-nowtime-wrapper {
    position: absolute;
    left: -40px;
    width: 40px;
    /* gradient to hide the underlying time headers smoothly */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);

    height: 40px;
    line-height: 40px;
    transform: translateY(-19px);
    display: block;
    content: " ";
    border-radius: 4px;
}

.cal-week-nowtime {
    position: absolute;
    right: 3px;
    display: block;
    color: red;
    line-height: 39px;
}

.cal-week .calendar-selector {
    border-top: 1px solid #EEE;
    padding-top: 10px;
    margin-top: 10px;
}

.cal-week .calendar-selector .calendar {
    margin: 5px 0;
    padding: 0 5px;
    border-radius: 2px;
    cursor: pointer;
}

.cal-week .calendar-selector .calendar-title {
    margin-left: 5px;
    font-weight: bold;
    text-overflow: ellipsis;
    width: calc(100% - 22px);
    overflow-x: hidden;
    white-space: nowrap;
}

.cal-week .calendar-selector .calendar-title,
.cal-week .calendar-selector input {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.cal-week-dayselector table {
    width: 100%;
    font-size: 11px;
}

.cal-week-dayselector tr {
    height: 25px;
    line-height: 25px;
}

.cal-week-dayselector td {
    text-align: center;
    width: 14.285%; /* 100% / 7 */
}

.cal-week-dayselector-day {
    font-weight: bold;
    cursor: pointer;
}

.cal-week-dayselector-week-curweek {
    background-color: #F0F0F0; /* #FFFBCC: light yellow */
}

.cal-week-dayselector-week-curweek td:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.cal-week-dayselector-week-curweek td:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.cal-week-dayselector-day-curmonth {
    color: black;
}

.cal-week-dayselector-day-othermonth {
    color: #BBB; 
}

.cal-week-dayselector-day,
.cal-week-dayselector-day {
    position: relative;
}

.cal-week-dayselector-day-curday div.day-bg {
    width: 20px;
    height: 20px;
}

.cal-week-dayselector-day-notcurday.cal-week-dayselector-day-withinrange-firstday div.day-bg,
.cal-week-dayselector-day-notcurday.cal-week-dayselector-day-withinrange-lastday div.day-bg,
.cal-week-dayselector-day-curday div.day-bg {
    border-radius: 100%;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    text-align: center;
}

.cal-week-dayselector-day-notcurday.cal-week-dayselector-day-withinrange-firstday div.day-bg,
.cal-week-dayselector-day-notcurday.cal-week-dayselector-day-withinrange-lastday div.day-bg {
    border: 2px solid gold;
    background-color: white;
    width: 20px;
    height: 20px;
}

.cal-week-dayselector-day span.day-number {
    position: relative;
    z-index: 2;
}

.cal-week-dayselector-day-curday span.day-number {
    color: black;
}

.cal-week-dayselector-day-today span.day-number {
    color: rgb(245, 52, 57);
}

.cal-week-dayselector .monthname,
.cal-week-dayselector .todayrow {
    line-height: 22px;
    font-size: 12px;
    height: 22px;
}

.cal-week-dayselector .todayrow {
    text-align: center;
}

.cal-week-dayselector .control-bar .btn-xs {
    font-size: 10px;
    padding: 1px 3px;
}

.cal-week-dayselector .control-bar .monthname {
    font-weight: bold;
    position: relative;
    top: 1px;
}

.cal-week-dayselector .cal-week-dayselector-dayheaders {
    color: #666;
    font-weight: bold;
}

.cal-week-dayselector-day-disabled {
    background-color: #E8E8E8;
}

.cal-week-dayselector-day-disabled span.day-number {
    text-decoration: line-through;
}

.cal-week-dayselector-day-withinrange .day-range {
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    text-align: center;
    background-color: gold;
    width: 103%;
    height: 7px;
}

.cal-week-dayselector-day-withinrange-firstday .day-range {
    width: 50%;
    transform: translateX(0%) translateY(-50%);
    -webkit-transform: translateX(0%) translateY(-50%);
    -moz-transform: translateX(0%) translateY(-50%);
    -o-transform: translateX(0%) translateY(-50%);
    -ms-transform: translateX(0%) translateY(-50%);
}

.cal-week-dayselector-day-withinrange-lastday .day-range {
    width: 50%;
    transform: translateX(-100%) translateY(-50%);
    -webkit-transform: translateX(-100%) translateY(-50%);
    -moz-transform: translateX(-100%) translateY(-50%);
    -o-transform: translateX(-100%) translateY(-50%);
    -ms-transform: translateX(-100%) translateY(-50%);
}

.cal-week-dayselector-day-withinrange-firstday.cal-week-dayselector-day-withinrange-lastday .day-range {
    display: none;
}

.start.cal-week-dayselector .cal-week-dayselector-day-curday div.day-bg,
.end.cal-week-dayselector .cal-week-dayselector-day-curday div.day-bg {
    background-color: red;
}

.start.cal-week-dayselector .cal-week-dayselector-day-curday span.day-number,
.end.cal-week-dayselector .cal-week-dayselector-day-curday span.day-number {
    color: white;
}

.cal-week-sidebar {
    margin-top: 15px;
}

.day-input-focused {
    background-color: #FFFBCC;
}