<style type="text/css">
    .footer strong,
    .footer a {
        color: silver;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12 footer">
            <hr />
            <p class="pull-right"><strong>Get Baïkal at <a href="http://baikal-server.com" target="_blank">http://baikal-server.com</a></strong></p>
        </div>
    </div>
</div>