{% autoescape false %}
<header class="jumbotron subhead" id="overview">
	<h1><i class="{{ titleicon }}"></i>Address Books</h1>
	<p class="lead">Manage Address Books for<i class="{{ modelicon }}"></i><strong>{{ modellabel }}</strong>.</p>
	<p class="pull-left"><a href="{{ linkback }}" class="btn"><i class="icon-chevron-left"></i> Back to users list</a></p>
	<p class="pull-right"><a class="btn btn btn-inverse" href="{{ linknew }}"><i class="icon-white {{ addressbookicon }}"></i> + Add address book</a></p>
</header>

<table class="table table-bordered table-striped addressbooks">
	<thead>
		<tr>
			<th>Display name</th>
			<th>Description</th>
			<th class="no-border-left"></th>
		</tr>
	</thead>
	<tbody>
		{% for addressbook in addressbooks %}
		<tr>
			<td class="col-displayname"><i class="{{ addressbook.icon }}"></i>{{ addressbook.label|escape }}</td>
			<td class="col-description">{{ addressbook.description|escape }}</td>
			<td class="col-actions no-border-left">
				<p class="pull-right">
					<nobr><a class="btn btn-primary" href="{{ addressbook.linkedit }}"><i class="icon-edit icon-white"></i> Edit</a></nobr>
					<nobr><a class="btn btn-danger" href="{{ addressbook.linkdelete }}"><i class="icon-remove icon-white"></i> Delete</a></nobr>
				</p>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a id='form'></a>
{{ messages }}
{{ form }}
{% endautoescape %}