body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	background: url('page-bg.png') repeat center top;
}

.table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) th {
	background-color: rgb(240, 240, 240);
}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 90px;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}