{% autoescape false %}
<nav class="navbar navbar-fixed-top navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <a class="navbar-brand" href="{{ homelink }}"><img style="vertical-align: text-top; line-height: 20px;" src="res/core/BaikalAdmin/Templates/Page/baikal-text-20.png" /> Web Admin</a>
            <ul class="navbar-nav">
	        <li class="nav-item"><a class="nav-link {{ activehome }}" href="{{ homelink }}">Dashboard</a></li>
	        <li class="nav-item"><a class="nav-link {{ activeusers }}" href="{{ userslink }}">Users and resources</a></li>
	        <li class="nav-item"><a class="nav-link {{ activesettingsstandard }}" href="{{ settingsstandardlink }}">System Settings</a></li>
	        <li class="nav-item"><a class="nav-link {{ activesettingsdatabase }}" href="{{ settingsdatabaselink }}">Database settings</a></li>
	        <li class="nav-item"><a class="nav-link" href="{{ logoutlink }}"><i class="fa fa-eject"></i> Logout</a></li>
	    </ul>
        </div>
    </div>
</nav>
{% endautoescape %}
