{% extends 'admin/layout.html.twig' %}
{% block content %}
    <header class="jumbotron subhead" id="overview">
        <h1><i class="glyph2x-adjust"></i>Baïkal settings</h1>
    </header>
    <form>
        <fieldset>
            <legend style="line-height: 40px;">Editing Standard<i class="glyph-cogwheel"></i><strong>Baïkal Settings</strong></legend>
        </fieldset>
    </form>
{% endblock %}
