{% extends 'admin/layout.html.twig' %}
{% block content %}
    <header class="jumbotron subhead" id="overview">
        <h1><i class="glyph2x-adjust"></i>Baïkal system settings</h1>
    </header>
    <div id="message" class="alert alert-info">
        <h3 class="alert-heading">Warning !</h3>
        Do not change anything on this page unless you really know what you are doing.
        <br>
        You might break Baïkal if you misconfigure something here.
    </div>
    <form>
        <fieldset>
            <legend style="line-height: 40px;">Editing System<i class="glyph-cogwheel"></i><strong>Baïkal Settings</strong></legend>
        </fieldset>
    </form>
{% endblock %}
