{% extends "BaikalViewComponentsBundle:Layouts:standard.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/adminbundle.css') }}" />
{% endblock stylesheets %}

{% block body %}

    {% include 'BaikalAdminBundle:Layouts:partials/_header.html.twig' %}

    {% block content %}
    <p>Content here</p>
    {% endblock %}

    {% include 'BaikalAdminBundle:Layouts:partials/_footer.html.twig' %}

{% endblock body %}